<%- include('partials/header') %>

    <div class="products">
        <p>Featured Products</p>
        <img class="product-thumbnail" src="images/beans.png" alt="">
        <img class="product-thumbnail" src="images/beef.jpg" alt="">
        <img class="product-thumbnail" src="images/chicken.jpeg" alt="">
        <img class="product-thumbnail" src="images/goat-meat.png" alt="">
        <img class="product-thumbnail" src="images/irish-potato.jpg" alt="">
        <img class="product-thumbnail" src="images/onion.jpeg" alt="">
        <img class="product-thumbnail" src="images/plantain.jpg" alt="">
        <img class="product-thumbnail" src="images/red-pepper.png" alt="">
        <img class="product-thumbnail" src="images/sweet-potato.jpg" alt="">
        <img class="product-thumbnail" src="images/water-yam.jpg" alt="">
        <img class="product-thumbnail" src="images/yam.jpeg" alt="">
    </div>
    
<%- include('partials/footer') %>